<!-- IMPORTANT remove all comments before use -->

SERVICE_PORT=####
POSTGRES_USER=####
POSTGRES_PASSWORD=####
POSTGRES_DB=####
ACCESS_TOKEN_SECRET=####
<!-- e.g. 3000 -->

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public